* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

main {
    flex: 1;
}

nav {
    background: linear-gradient(to right, #a770ef, #cf8bf3, #FDB99B);
    background-color: #ffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right-side {
    display: flex;
    justify-content: right;
}

.nav-left-side {
    display: flex;
    justify-content: left;
}

.nav-item {
    font-size: 1.2rem;
}

#logo {
    height: 50px;
    width: 50px;
    margin: auto;
}

.home-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.home-title p {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.card {
    background-color: #f2f2f2;
    border: 2px solid #eecda3;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
}


.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
}

#view-btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.recipes-parent-container {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes-parent-container h3 {
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
}

footer {

    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to right, #a770ef, #cf8bf3, #FDB99B);
}

footer .nav-link {
    display: inline-block;
    margin-right: 20px;
    text-decoration: underline;
}

.foot-nav {
    margin-bottom: 20px;
}

body .login-container,
.signup-container {
    width: 30%;
    margin: 130px auto;
}

.btn-group {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#add-user-form {
    width: 50%;
    margin: 0 auto;
}

#add-recipe-form {
    width: 50%;
    margin: 0 auto;
}

.recipe-card .card-image {
    width: 50%;
    height: 50%;

}

.ingredient-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 990px) {
    .container {
        flex-direction: column;
    }

    #logo {
        height: 60px;
        width: 60px;
        margin-left: 10px;
    }

    .nav-item {
        font-size: 1.1rem;

    }

    .home-title {
        max-width: 50%;
        margin: auto;
        justify-content: center;
        font-size: 1rem;
    }

    .recipe-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recipe-card .left-container,
    .recipe-card .right-container {
        width: 75%;
        margin: 10px 0;
    }

    .recipe-card .right-container .ingredients-section,
    .recipe-card .right-container .instructions-section {
        width: 100% !important;
        max-width: 100% !important;
        margin: 10px 0 !important;
    }

    .recipe-card .left-container img {
        width: 100%;
        height: auto;
    }

}